<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.3/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_PymCwLQ6EeunIqdlM44tDw" specification="interface Commands:&#xD;&#xA;in event S1&#xD;&#xA;in event S2" name="Test04">
    <regions xmi:id="_PymCyrQ6EeunIqdlM44tDw" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_PynQ47Q6EeunIqdlM44tDw">
        <outgoingTransitions xmi:id="_PyofBbQ6EeunIqdlM44tDw" target="_Pyn38rQ6EeunIqdlM44tDw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Pyn38rQ6EeunIqdlM44tDw" name="StateA" incomingTransitions="_PyofBbQ6EeunIqdlM44tDw _WcaPYLQ6EeunIqdlM44tDw">
        <outgoingTransitions xmi:id="_WcaPYLQ6EeunIqdlM44tDw" specification="Commands.S1" target="_Pyn38rQ6EeunIqdlM44tDw"/>
        <outgoingTransitions xmi:id="_cV-q0LQ6EeunIqdlM44tDw" specification="Commands.S2" target="_VU08QLQ6EeunIqdlM44tDw"/>
      </vertices>
      <vertices xsi:type="sgraph:FinalState" xmi:id="_VU08QLQ6EeunIqdlM44tDw" incomingTransitions="_cV-q0LQ6EeunIqdlM44tDw"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_PymCx7Q6EeunIqdlM44tDw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_PymCwLQ6EeunIqdlM44tDw" measurementUnit="Pixel">
    <children xmi:id="_PymCy7Q6EeunIqdlM44tDw" type="Region" element="_PymCyrQ6EeunIqdlM44tDw">
      <children xsi:type="notation:DecorationNode" xmi:id="_Pymp0LQ6EeunIqdlM44tDw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Pymp0bQ6EeunIqdlM44tDw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Pymp0rQ6EeunIqdlM44tDw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_PynQ4LQ6EeunIqdlM44tDw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_PynQ5LQ6EeunIqdlM44tDw" type="Entry" element="_PynQ47Q6EeunIqdlM44tDw">
          <children xmi:id="_PynQ6LQ6EeunIqdlM44tDw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_PynQ67Q6EeunIqdlM44tDw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_PynQ7LQ6EeunIqdlM44tDw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_Pyn38LQ6EeunIqdlM44tDw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_PynQ6bQ6EeunIqdlM44tDw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_PynQ6rQ6EeunIqdlM44tDw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_PynQ5bQ6EeunIqdlM44tDw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_PynQ5rQ6EeunIqdlM44tDw" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Pyn38bQ6EeunIqdlM44tDw" x="70" y="20"/>
        </children>
        <children xmi:id="_Pyn39bQ6EeunIqdlM44tDw" type="State" element="_Pyn38rQ6EeunIqdlM44tDw">
          <children xsi:type="notation:DecorationNode" xmi:id="_Pyn3-bQ6EeunIqdlM44tDw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_Pyn3-rQ6EeunIqdlM44tDw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_Pyn3-7Q6EeunIqdlM44tDw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Pyn3_LQ6EeunIqdlM44tDw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_PyofALQ6EeunIqdlM44tDw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_PyofAbQ6EeunIqdlM44tDw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_PyofArQ6EeunIqdlM44tDw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_Pyn39rQ6EeunIqdlM44tDw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_Pyn397Q6EeunIqdlM44tDw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_PyofA7Q6EeunIqdlM44tDw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_PyofBLQ6EeunIqdlM44tDw" x="49" y="88" width="110" height="102"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_VU2KYLQ6EeunIqdlM44tDw" type="FinalState" element="_VU08QLQ6EeunIqdlM44tDw" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_VU2KYbQ6EeunIqdlM44tDw" x="255" y="94"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_PynQ4bQ6EeunIqdlM44tDw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_PymCzLQ6EeunIqdlM44tDw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_PynQ4rQ6EeunIqdlM44tDw" x="220" y="10" width="400" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_PypGE7Q6EeunIqdlM44tDw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_PypGFbQ6EeunIqdlM44tDw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_PypGFrQ6EeunIqdlM44tDw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_PypGF7Q6EeunIqdlM44tDw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_PypGGLQ6EeunIqdlM44tDw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_PypGGbQ6EeunIqdlM44tDw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_PypGGrQ6EeunIqdlM44tDw" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_PymCyLQ6EeunIqdlM44tDw" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_PymCybQ6EeunIqdlM44tDw"/>
    <edges xmi:id="_PyofBrQ6EeunIqdlM44tDw" type="Transition" element="_PyofBbQ6EeunIqdlM44tDw" source="_PynQ5LQ6EeunIqdlM44tDw" target="_Pyn39bQ6EeunIqdlM44tDw">
      <children xsi:type="notation:DecorationNode" xmi:id="_PypGELQ6EeunIqdlM44tDw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_PypGEbQ6EeunIqdlM44tDw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_PypGErQ6EeunIqdlM44tDw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_PyofB7Q6EeunIqdlM44tDw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_PyofCbQ6EeunIqdlM44tDw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_PyofCLQ6EeunIqdlM44tDw" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_T4LYELQ6EeunIqdlM44tDw" id="(0.2761904761904762,0.24742268041237114)"/>
    </edges>
    <edges xmi:id="_WcdSsLQ6EeunIqdlM44tDw" type="Transition" element="_WcaPYLQ6EeunIqdlM44tDw" source="_Pyn39bQ6EeunIqdlM44tDw" target="_Pyn39bQ6EeunIqdlM44tDw">
      <children xsi:type="notation:DecorationNode" xmi:id="_Wcd5wLQ6EeunIqdlM44tDw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Wcd5wbQ6EeunIqdlM44tDw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Wcd5wrQ6EeunIqdlM44tDw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_WcdSsbQ6EeunIqdlM44tDw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_WcdSs7Q6EeunIqdlM44tDw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_WcdSsrQ6EeunIqdlM44tDw" points="[-53, -38, -14, -10]$[-35, -38, 4, -10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WcjZULQ6EeunIqdlM44tDw" id="(0.9809523809523809,0.3917525773195876)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WckAYLQ6EeunIqdlM44tDw" id="(0.0761904761904762,0.5876288659793815)"/>
    </edges>
    <edges xmi:id="_cWBuILQ6EeunIqdlM44tDw" type="Transition" element="_cV-q0LQ6EeunIqdlM44tDw" source="_Pyn39bQ6EeunIqdlM44tDw" target="_VU2KYLQ6EeunIqdlM44tDw">
      <children xsi:type="notation:DecorationNode" xmi:id="_cWC8QLQ6EeunIqdlM44tDw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_cWC8QbQ6EeunIqdlM44tDw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_cWC8QrQ6EeunIqdlM44tDw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_cWBuIbQ6EeunIqdlM44tDw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_cWCVMLQ6EeunIqdlM44tDw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_cWBuIrQ6EeunIqdlM44tDw" points="[6, -1, -113, 12]$[120, -12, 1, 1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_cWK4ELQ6EeunIqdlM44tDw" id="(0.9428571428571428,0.15463917525773196)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_cWK4EbQ6EeunIqdlM44tDw" id="(0.8,0.5333333333333333)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
